exportPattern("^[[:alpha:]]+")
import(survival)
importFrom("graphics", "par", "plot", "points")
importFrom("stats", "dgamma", "integrate", "nlm", "rgamma", "runif")
importFrom("graphics", "abline", "text","polygon")
importFrom("grDevices", "gray")